<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/editor.css">
    <link rel="stylesheet" href="/public/tailwindCSS.css">
    <link rel="stylesheet" href="/public/webpage.css">
    <title>Html editor</title>
</head>
<body>

    <div class="main-editor">

        <div class="commandBar">
        <button class="runCMD">Run</button>
        </div>

        <div class="editorWrapper">

          <pre id="editor" class="editor" ></pre>

          <div class="liveView">
          </div>

        </div>
    </div>

    <script src="/editor/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="application/javascript" src="/public/editor.js"></script>
</body>
</html>