<!DOCTYPE html>
<!-- Asking for translate option makes the editor buggy. -->
<html lang="en" class="notranslate" translate="no"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link rel="stylesheet" href="/public/editor.css">
    <title>Html editor</title>
</head>
<body>

    <!-- KEEP OR TRASH -->
    <!-- loading screen-->
    <!-- <div id="loader" class="absolute w-full h-full bg-red-200 opacity-80 z-10 flex justify-center items-center hidden">
      <div>
        <div class="loader"></div>
        <br>
        <p class="text-center">Compiling...</p>
      </div>
    </div> -->

    <!-- main editor interface-->
    <div id="main-editor" class="main-editor">
        <!-- editor section -->
      <div class="flex flex-row bg-gray-700 w-full pl-1">
        <div class="w-1/2 flex flex-row space-x-1">
          <button id="runCMD" class="cmdBar-btn">
            Generate
          </button>                          
          <button id="newTab" class="cmdBar-btn">
            View in 
            <br>
            <span class="buttonStatus">New Tab</span>
          </button>          
        </div>
      </div> 

      <!-- live view of webpage -->
      <div class="editorWrapper">
        <pre id="editor" class="editor" ></pre>
        <iframe id="liveView" class="liveView"></iframe>
      </div>
    </div>

    <script src="/editor/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/completions.js" type="application/javascript"></script>
    <script src="/public/editor.js" type="application/javascript" ></script>
</body>
</html>