/* @tailwind base; */

.h-96 {
  height: 24rem
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(191, 219, 254, var(--tw-bg-opacity))
}

.hover\:text-\[65px\]:hover {
  font-size: 65px
}

.hover\:text-red-700:hover {
  --tw-text-opacity: 1;
  color: rgba(185, 28, 28, var(--tw-text-opacity))
}